<div class="card bg-light mb-3">
    <div 
        class="card-header text-white" 
        [ngClass]="{
            'up': 'bg-warning',
            'down': 'bg-info',
            'stable': 'bg-stable',
            'start': 'bg-stable'
        }[weight.indicator]"
    >
        {{ dateBeautify(weight.date) }}
        <span class="float-right edit" (click)="edit()">
            <mat-icon>edit</mat-icon>
        </span>
    </div>
    <div class="card-body">
        <h2 class="card-title font-weight-bold">
            {{ weight.weight | number:'.1-1' }}<span class="text-muted">kg</span>
            <span *ngIf="weight.indicator">
                <span class="up" *ngIf="weight.indicator === 'up'; else downIndicator">
                    <!-- <mat-icon>keyboard_arrow_up</mat-icon> -->
                    <mat-icon>arrow_upward</mat-icon>
                </span>
                <ng-template #downIndicator>
                    <span class="down" *ngIf="weight.indicator === 'down'; else stableIndicator">
                        <!-- <mat-icon>keyboard_arrow_down</mat-icon> -->
                        <mat-icon>arrow_downward</mat-icon>
                    </span>
                </ng-template>
                <ng-template #stableIndicator>
                    <span class="stable" *ngIf="weight.indicator === 'stable'; else startIndicator">
                        <mat-icon>swap_vert</mat-icon>
                    </span>
                </ng-template>
                <ng-template #startIndicator>
                    <span class="stable start">
                        <mat-icon>pin_drop</mat-icon>
                    </span>
                </ng-template>
            </span>
        </h2>
        <p class="card-text">{{ weight.note }}</p>
    </div>
</div>