.bg-stable {
    background: #2b70ab;
}

.card {
    border: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    transition: all 0.5s;
}
.card:hover {
    box-shadow: 3px 3px 15px rgba(0,0,0,0.6);
}

.up, .down, .stable {
    position: relative;
    top: 0.35rem
}
.up { color: #ffc107 }
.down { color: rgb(37, 175, 37) }
.stable { color: #2b70ab; top: 0.4rem !important; }
.up > .material-icons, .down > .material-icons, .stable > .material-icons {
    font-size: 2rem
}

.edit {
    cursor: pointer;
    color: rgba(255,255,255,0.4);
    transition: all 0.5s;
}
.edit:hover { color: white }