.card {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
    transition: all 0.5s;
    position: relative;
}
.card:hover {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.animate {
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.full-height {    
    max-height: 800px;
}
.height0 {
    max-height: 0px;
}

.expand-form-btn {
    backface-visibility: hidden;
    cursor: pointer;
    line-height: 0;
    transition: all 0.5s;
    transform-origin: center center;
    position: relative;
    top: 5px;
    left: -3px;
}
.rotate45 {
    transform: perspective(10px) rotate(45deg);
}